
html,
body,
.body-content,
.login-content {
    width: 100%;
    height: 100%;
    float: left;
}

body {
    padding: 0;
    margin: 0;
}

.login-content {
    background-color: #1A1F25;
}

.login-container {
    float: left;
    width: 24%;
    height: 200px;
    margin-left: 38%;
    margin-top: 300px;
    align-content: center;
}

.form-item,
.form-item input {
    float: left;
}

.form-item {
    clear: both;
    width: 100%;
}

    .form-item .input-icon {
        margin-top: 10px;
    }

.input-icon {
    float: left;
    width: 40px;
    height: 50px;
    padding: 9px 7px;
    border: 2px solid #20252B;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

    .input-icon img {
        width: 24px;
        height: 30px;
    }

.form-item input[type=text],
.form-item input[type=password] {
    border: 2px solid #20252B;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #1A1F25;
    width: calc(100% - 40px);
    height: 50px;
    margin-top: 10px;
    float: right;
    color: silver;
    padding-left: 15px;
}

.form-item input[type=text]:focus,
.form-item input[type=password]:focus {
    outline: none;
}

.form-item input[type=submit] {
    background-color: #E7B33F;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 50px;
    color: white;
    margin-top: 10px;
}

.field-validation-msg {
    color: white;
}

header {
    float: left;
    width: 100%;
    height: 50px;
    background-color: #343A40;
}

header .header-title {
    float: left;
    margin-top: 10px;
    padding-left: 20px;
    width: 30%;
}

.header-title h5,
menu h6 {
    color: #e9e9e9;
}

header menu {
    float: right;
    width: 70%;
    height: 100%;
}

menu h6 {
    float: right;
    margin-top: 14px;
    margin-right: 10px;
}

menu {
    margin: 0;
}

.logout-btn {
    float: right;
    padding: 6px 15px;
    border-radius: 5px;
    background-color: #FFA520;
    color: #20252B;
    margin-top: 7px;
    margin-right: 10px;
}

main {
    height: calc(100% - 20px);
    width: 100%;
}

footer {
    width: 100%;
    height: 20px;
    background-color: #343A40;
}

.course-item {
    float: left;
    width: 100%;
    border-bottom: 2px solid silver;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
    transition: 0.45s;
}


.course-item:hover {
    background-color: #343A40;
    color: white;
    transition: 0.45s;
    border: 2px solid silver;
}

.course-section,
.scedule-section {
    float: left;
    width: 50%;
    height: 100%;
}

.course-section span {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    clear: both;
}

.wrap {
}

.btn {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    background-color: #146EC0;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    padding-bottom: 7px;
    transition: 0.45s;
}

.btn:hover {
    color: white;
    opacity: 0.9;
    transition: 0.45s;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #242424;
    padding: 2rem;
    z-index: 3;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    display: block;
    width: 60%;
    height: 600px;
}

.modal.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.course-form {
    float: left;
    width: 100%;
    height: 100%;
}

.course-form textarea,
.course-form input[type=time],
.course-form input[type=text],
.course-form input[type=number] {
    width: 70%;
    float: left;
    border: 1px solid silver;
    padding: 6px;
    border-radius: 5px;
    margin-left: 15%;
}

.course-form textarea {
    height: 100px;
}

.course-form-buttons {
    float: left;
    width: 100%;
}

.course-form-buttons input[type=submit] {
    background-color: #146EC0;
    border: none;
    border-radius: 5px;
    padding: 5px 12px 6px 12px;
    color: white;
    float: right;
    margin-right: 15%;
    margin-top: 10px;
}

.remove-btn {
    float: left;
    margin-left: 15%;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid;
    padding: 5px 15px;
}

.course-field {
    float: left;
    width: 100%;
    clear: both;
}

.modal_title {
    padding-left: 15%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal_bg {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.35);
}

.modal_bg.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}