@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="header-title">
        <h5>CourseManager</h5>
    </div>

    <menu>
        <a href="~/Account/Logout" class="logout-btn">Выход</a>
        <h6>Привет, @User.Identity.Name!</h6>
    </menu>
</header>
<main>

</main>
<footer>
</footer>